<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/default_tree_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/default_tree_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.LeafSnap"
        tools:targetApi="31">
        <activity
            android:name=".user_profile_edit_activity"
            android:exported="false" />
        <activity
            android:name=".plant_details_activity"
            android:exported="false" />
        <activity
            android:name=".NewPlantActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".profile_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".login_activity"
            android:exported="false" />
        <activity
            android:name=".welcome_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:exported="false" />
    </application>

</manifest>